<form action="/weather" method="POST" class="form-group row">
  <div class="col-sm-2">
    <input type="text" class="form-control" name="cityName" placeholder="City Name...">
  </div>
  <button class="btn btn-primary" type="submit">Click Me!</button>
</form>